<h1>All Peaks</h1>
<% @peaks.each do |peak| %>
  <h4><a href="/peaks/<%= peak.id %>"><%= peak.id %></a>
  	<%= peak.name %><br>
  	<%= peak.elevation %><br>
  	<%= peak.date_hiked %><br>
  	<%= peak.remarks %><br>
  	<a href="/peaks/<%= peak.id %>/edit">Edit peak</a>
  	<form action="/peaks/<%= peak.id %>/delete" method="POST">
	<input id="hidden" type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete Peak">
	</form>
  </h4>
  <br>
<% end %>
