<h1>Your Peaks</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Peak Name</th>
      <th scope="col">Elevation</th>
      <th scope="col">Date Hiked</th>
      <th scope="col">Remarks</th>

    </tr>
  </thead>
  <tbody>
    <% @peaks.each do |peak| %>
    <tr>
      <th scope="row"><%= peak.name %></th>
      <td><%= peak.elevation %>'</td>
      <td><%= peak.date_hiked %></td>
      <td><%= peak.remarks %></td>
      <td><a href="/peaks/<%= peak.id %>/edit">Edit</a></td>
      <td><a href="/peaks/<%= peak.id %>/delete">Delete</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
<a href="/peaks/new"><h1>Add a Peak</h1></a>

