<h1>All Peaks</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Peak Name</th>
      <th scope="col">Elevation</th>
      <th scope="col">Date Hiked</th>
      <th scope="col">Remarks</th>

    </tr>
  </thead>
  <tbody>
    <% @peaks.each do |peak| %>
    <tr>
      <th scope="row"><a href="/peaks/<%= peak.id %>"><%= peak.name %></a></th>
      <td><%= peak.elevation %>'</td>
      <td><%= peak.date_hiked %></td>
      <td><%= peak.remarks %></td>
    </tr>
    <% end %>
  </tbody>
</table>


