<h1>Edit Peak: <%= @peak.name %></h1>
<form action="/peaks/<%= @peak.id %>" method="POST">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<label>Peak Name</label>
	<select name="name" required>
		<option value="" selected disabled hidden>Choose here</option>
		<% @all_peaks.each do |peak| %>
			<option value="<%= peak.name %>"><%= peak.name %></option>
		<% end %>
	</select>
	<br>
	<label>Date Hiked</label>
	<input id='date_hiked' type='date' name='date_hiked' placeholder='mm/dd/yyyy'  value="<%= @peak.date_hiked %>" required><br>
	<label>Remarks: </label>
	<input id='remarks' type='text' name='remarks' value="<%= @peak.remarks %>"><br>
	<input class="btn btn-primary" type='submit' value='Update'>
	<a href="/peaks/<%= @peak.id %>"><button type="button" class="btn btn-secondary">Cancel</button></a>
</form>